{% extends "blogi/base.html" %}

{% block content %}

{# Postauksen otsikko laitetaan <h1>-tagiin #}
<h1>{{postaus.otsikko}}</h1>

<hr/>
{# < hr / > yhteenkirjoitettuna luo vaakaviivan #}

{# Postauksen sisältö (teksti-kentästä) laitetaan  <p>-tagin sisälle #}
<p>
    {{postaus.teksti}}

</p>

{# Lisää sivulle <img>-tagi kuvaa varten, jos postauksella on kuva #}
{% if postaus.kuva %}
<img src="{{postaus.kuva.url}}", class="border border-warning border border-5 rounded" alt="75*75"/>
{% endif %}

{% endblock %}